
body {
    background-color: beige;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
    padding: 20px;
    color: #ffffff;
    background-color: aqua;
}
/* form */
form {
    padding: 20px;
    margin: 40px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    background-color: antiquewhite;

}
/* label */
label {
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    display: block;
}
/* input and seect */
input.select {
    margin-top: 10px;
    padding: 20px;
    width: 50%;
    font-size: 16px;
    border: 0cap;
    border-radius: 5px;
}
/* button */
button {
    margin-top: 15px;
    padding: 12px;
    background-color: #f0ffff;
    color: blanchedalmond;
    width: 85%;
    border-radius: 5px;
    border: none;
    font-size: large;
    cursor: pointer;
}
button.hover {
    background-color: darkturquoise;
}

/* Results */
#results {
    margin: 12px auto 30px;
    padding: 14px;
    color: #ffffff;
    font-size: medium;
    background-color: #00ffff;
    font-weight: 500px;
    width: 85%;
    border-radius: 8px;
}