
body {
    background-color: darkslategrey;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
header {
    padding: 20px;
    color: black;
    background-color: lightslategray;
    font-size: larger;
    font-weight: 700;

}
form {
    padding: 30px;
    margin: 50px auto;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(11, 184, 161);

}
label {
    margin-top: 6px;
    text-align: center;
    font-weight: bolder;
    display: block;
}
input.select {
    margin-top: 10px;
    padding: 20px;
    width: 50%;
    font-size: 16px;
    border: 0cap;
    border-radius: 5px;
}
/* button */
button {
    margin-top: 15px;
    padding: 10px;
    background-color:gray;
    color: darkcyan;
    width: 85%;
    border-radius: 5px;
    border: none;
    font-size: large;
    cursor: pointer;
}
button.hover {
    background-color: black
}

/* Results */
#resultbox {
    margin: 12px auto 30px;
    padding: 14px;
    color: black;
    font-size: medium;
    background-color: gray
    font-weight: 500px;
    width: 85%;
    border-radius: 8px;
}